<h2 class="text-center"> Welcome to our application</h2>



@*
    Linkuvanje so Html helper (.Net Framework)
     @Html.ActionLink("Add new book", "Create", "Book")
*@


@*
    Linkuvanje so Html Tag (.Net Core)
*@
<a asp-controller="Book" asp-action="Index">All books</a>
<br />
